button{
    color: #FFFFFF;
    font-size: .453333rem;
    border-radius: .4rem;
    border: 0;
    outline: none;
    font-size: .373333rem;
    box-sizing: border-box;
    padding: 0 .4rem;
    height: .666667rem;
    line-height: .666667rem;
}
button.wx{
    background: rgb(139, 200,250);
}
button.ali{
    background: rgb(115, 209,121);
}
p{
    font-size: .426667rem;
}